@import "tailwindcss";

input[type="file"]::-webkit-file-upload-button {
  filter: invert(0.5);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.tiptap strong {
  font-weight: 700;
}

.tiptap b {
  font-weight: 700;
}

.tiptap h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.75rem 0;
}

.tiptap h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.tiptap a {
  color: #4f46e5;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}


.tiptap ul {
  list-style: disc;
  padding-left: 1.25rem;
}

.tiptap ol {
  list-style: decimal;
  padding-left: 1.25rem;
}

.tiptap li {
  margin: 0.25rem 0;
}

.tiptap table {
  border-collapse: collapse;
  width: 100%;
  margin: 0.75rem 0;
}

.tiptap th,
.tiptap td {
  border: 1px solid #d1d5db;
  /* gray-300 */
  padding: 0.5rem;
  vertical-align: top;
}

.tiptap th {
  background-color: #f9fafb;
  font-weight: 600;
}

.tiptap tr:nth-child(even) td {
  background-color: #fafafa;
}

.tiptap code {
  background-color: #f3f4f6; /* gray-100 */
  color: #111827;            /* gray-900 */
  padding: 0.15em 0.35em;
  border-radius: 4px;
  font-size: 0.875em;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

/* Code block */
.tiptap pre {
  background: #0f172a; /* slate-900 */
  color: #e5e7eb;      /* gray-200 */
  padding: 0.75rem 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0.75rem 0;
  
}

.tiptap pre code {
  background: none;
  padding: 0;
  color: inherit;
}

